[headder] .contentSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[headder] .contentSearch .search {
    width: 100%;
    height: 2.5em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: #ffffff;
    background-color: #3e3e3e;
    outline: none;
    border: none;
}

[headder] .contentSearch .search::placeholder {
    color: #ffffff50;
    background-color: transparent;
}

[headder] .contentSearch .search:focus-visible {
    outline: none;
    border: none;
}


/* cards */
.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.container .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    gap: 1em;
}

.container .grid .card {
    background-color: #1a1a1a;
    overflow: hidden;
    position: relative;
    transition: transform .2s, filter .2s;
}

.container .grid .card img {
    width: 100%;
    aspect-ratio: .8;
    display: block;
    transition: .2s ease-in;
    object-fit: cover;
    aspect-ratio: 5 / 7;
}

.container .grid .card .info {
    padding: .8em .5em .5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .5em;
}

.container .grid .card .info h2,
.container .grid .card .info p {
    font-size: .75em;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5em;
    width: 100%;
    max-height: 2em;
    color: #fff;
}

.container .grid .card .info .details {
    font-size: .8em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .grid .card .info .details .dataStatus,
.container .grid .card .info .details .timestamp {
    font-weight: bolder;
    padding: .5em .5em .5em 0;
}

.container .categoryTitle {
    font-size: 1.2em;
    font-weight: bolder;
    color: #fff;
    padding: 1em 0 .5em 0;
    text-align: center;
}