* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
}

[headder] {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    padding: 0.5em 1em;
    background-color: #1a1a1a;
    margin-bottom: 0.5em;
    width: 100%;
    height: 4em;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    z-index: 1500;
}

[headder] .titleApp {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    grid-gap: 0.5em;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow: hidden;
}

[headder] .titleApp i {
    font-size: 1.5rem;
    color: #ffffff;
}

[headder] .titleApp .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}