[headder] .btnHeader {
    width: 4em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
[headder] .btnHeader .btnMenu {
    width: 2.5em;
    height: 2.5em;
}
[headder] .btnHeader .btnMenu i {
    pointer-events: none;
}

.menuContent {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000050;
    backdrop-filter: blur(0.2em);
    z-index: 10000;
    overflow: hidden;
}

.menuContent .menu {
    position: relative;
    width: 15em;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
}
.menuContent .menu::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0.1em;
    height: 100%;
    background-color: #ffffff;
}

.menuContent .menu .bannerContent {
    position: relative;
    width: calc(100% - 0.1em);
    height: 8em;
    margin-right: 0.1em;
    overflow: hidden;
}
.menuContent .menu .bannerContent::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #000000, transparent);
    z-index: 0;
}
.menuContent .menu .bannerContent .banner {
    width: 100%;
    height: 100%;
}
.menuContent .menu .bannerContent .redesContent {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    margin-right: 8em;
    padding-right: 0;
    width: calc(100% - 8.5em);
    height: calc(100% - 1em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 1em;
    z-index: 10000;
    overflow: hidden;
}
.menuContent .menu .bannerContent .redesContent .titleBanner {
    color: #ffffff;
    font-size: 1em;
}
.menuContent .menu .bannerContent .redesContent .btnsRedes {
    display: flex;
    padding: 0.5em;
    padding-top: 0;
    grid-gap: 0.5em;
    overflow: hidden;
}
.menuContent .menu .bannerContent .redesContent .btnsRedes .btnsRed {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    overflow: hidden;
}
.menuContent .menu .bannerContent .redesContent .btnsRedes .btnsRed i {
    font-size: 1.1em;
    transform: translate(0.02em, 0.01em);
    pointer-events: none;
}

.menuContent .menu .bannerContent::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, #000000, transparent);
    z-index: 0;
}

.menuContent .menu .itemList {
    position: relative;
    margin: 1em 0;
    padding: 0 0.5em;
    width: calc(100% - 1em);
    height: calc(100% - 10em);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    grid-gap: 0.5em;
    overflow: auto;
}
.menuContent .menu .itemList .item {
    position: relative;
    background-color: #ffffff;
    padding: 0.5em;
    padding-left: 2.5em;
    width: calc(100% - 1em);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5em;
    overflow: hidden;
}
.menuContent .menu .itemList .item::before {
    content: "";
    position: absolute;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    background: #000000;
    border-radius: 100%;
}
.menuContent .menu .itemList .item .itenLink {
    color: #000000;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

/* CARROUSELF */
.container [carrousel] {
    display: flex;
    position: relative;
    background-color: #000000;
    border-radius: 10px;
    width: 100%;
    height: 14em;
    margin-bottom: 1em;
}

.container [carrousel]::before {
    content: '';
    display: block;
    padding-bottom: 50%;
}

.container [carrousel] input[name~="carrousel"] {
    display: none;
}

.container [carrousel] input[name~="carrousel"]:checked+.slide {
    pointer-events: auto;
    opacity: 1;
}

.container [carrousel] input[name~="carrousel"]:checked+.slide .slide-content {
    opacity: 1;
}

.container [carrousel] .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    overflow: hidden;
}

.container [carrousel] .slide-content {
    position: relative;
    opacity: 0;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container [carrousel] .slide-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container [carrousel] .slide-content span {
    position: absolute;
    top: 1em;
    left: 1em;
}

.container [carrousel] .slide-content .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1em;
    overflow: hidden;
}

.container [carrousel] .slide-content .details h2,
.container [carrousel] .slide-content .details p {
    font-size: 1.2em;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5em;
    width: 100%;
    max-height: 2em;
    color: #fff;
}

.container [carrousel] .slide-content .details p {
    font-size: 1em;
}



.container [carrousel] .back,
.container [carrousel] .forward {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 0.5rem;
    background-color: transparent;
    border-radius: 100px;
    color: #000000;
    transform: scale(0.9);
    transition: transform 0.2s;
    z-index: 1000;
}

.container [carrousel] .back {
    left: calc(0% + 1rem);
}

.container [carrousel] .forward {
    right: calc(0% + 1rem);
}

.container [carrousel] h1 {
    font-size: 5rem;
    color: white;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}

/* ============== */


.container .titleSection {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

/* cards */
.container .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    gap: 1em;
}

.container .grid .card {
    background-color: #1a1a1a;
    overflow: hidden;
    position: relative;
    transition: transform .2s, filter .2s;
}

.container .grid .card img {
    width: 100%;
    aspect-ratio: .8;
    display: block;
    transition: .2s ease-in;
    object-fit: cover;
    aspect-ratio: 5 / 7;
}

.container .grid .card .info {
    padding: .8em .5em .5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .5em;
}

.container .grid .card .info h2,
.container .grid .card .info p {
    font-size: .75em;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5em;
    width: 100%;
    max-height: 2em;
    color: #fff;
}

.container .grid .card .info .details {
    font-size: .8em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: f;
}

.container .grid .card .info .details .dataStatus,
.container .grid .card .info .details .timestamp {
    font-weight: bolder;
    padding: .5em .5em .5em 0;
}